.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px;
    background: #eee;
}

.pdf-container {
    flex: 1;
    position: relative;
}